@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
}

.wrapper-inner {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

@media (max-width: 49em) {
  .wrapper {
    display: block;
  }
}

.wrapper-content {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background: url("/images/bg-pattern-desktop.svg") no-repeat 50% 50%, linear-gradient(135deg, white, #fff5f5);
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

@media (max-width: 49em) {
  .wrapper-content {
    padding-top: 3rem;
  }
}

@media (max-width: 35em) {
  .wrapper-content {
    padding-bottom: 7rem;
  }
}

.wrapper-content-header {
  margin-bottom: 13rem;
}

@media (max-width: 49em) {
  .wrapper-content-header {
    margin-bottom: 3rem;
  }
}

@media (max-width: 49em) {
  .wrapper-content-header img {
    width: 13rem;
  }
}

@media (max-width: 35em) {
  .wrapper-content-header img {
    width: 11rem;
  }
}

.wrapper-content-hero-mobile {
  display: none;
}

@media (max-width: 49em) {
  .wrapper-content-hero-mobile {
    display: block;
    width: 100%;
  }
}

@media (max-width: 49em) {
  .wrapper-content-main {
    margin-top: 6rem;
    text-align: center;
  }
}

.wrapper-content-main__title {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 1.3rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

@media (max-width: 49em) {
  .wrapper-content-main__title {
    font-size: 5rem;
  }
}

@media (max-width: 35em) {
  .wrapper-content-main__title {
    font-size: 4rem;
  }
}

.wrapper-content-main__text {
  line-height: 2.5rem;
  color: #ce9797;
  margin-bottom: 2.5rem;
}

.wrapper-content-main__form {
  position: relative;
}

@media (max-width: 49em) {
  .wrapper-content-main__form {
    margin: 0 1.5rem;
  }
}

.wrapper-content-main__form-input {
  position: relative;
}

.wrapper-content-main__form-input label {
  position: absolute;
  opacity: 0;
}

.wrapper-content-main__form-input-email {
  width: 100%;
  border: 0;
  border: 1px solid #dec9ce;
  border-radius: 3rem;
  padding: 2rem 14rem 2rem 3rem;
  background: rgba(255, 255, 255, 0);
  outline: none;
  font-weight: 600;
}

@media (max-width: 49em) {
  .wrapper-content-main__form-input-email {
    padding: 1.5rem 10rem 1.5rem 2rem;
  }
}

@media (max-width: 49em) {
  .wrapper-content-main__form-input-email {
    padding: 1.5rem 11rem 1.5rem 2rem;
  }
}

@media (max-width: 25em) {
  .wrapper-content-main__form-input-email {
    padding: 1.5rem 12.5rem 1.5rem 2rem;
  }
}

.wrapper-content-main__form-input-email::-webkit-input-placeholder {
  color: #dec9ce;
}

.wrapper-content-main__form-input-email:-ms-input-placeholder {
  color: #dec9ce;
}

.wrapper-content-main__form-input-email::-ms-input-placeholder {
  color: #dec9ce;
}

.wrapper-content-main__form-input-email::placeholder {
  color: #dec9ce;
}

@media (max-width: 49em) {
  .wrapper-content-main__form-input-email::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  .wrapper-content-main__form-input-email:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .wrapper-content-main__form-input-email::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .wrapper-content-main__form-input-email::placeholder {
    font-size: 1.2rem;
  }
}

.wrapper-content-main__form-input-email:focus::-webkit-input-placeholder {
  color: #ce9797;
  opacity: 0;
}

.wrapper-content-main__form-input-email:focus:-ms-input-placeholder {
  color: #ce9797;
  opacity: 0;
}

.wrapper-content-main__form-input-email:focus::-ms-input-placeholder {
  color: #ce9797;
  opacity: 0;
}

.wrapper-content-main__form-input-email:focus::placeholder {
  color: #ce9797;
  opacity: 0;
}

.wrapper-content-main__form-input-email:focus {
  -webkit-box-shadow: inset 0px 0px 4px 2px #dbcccf;
          box-shadow: inset 0px 0px 4px 2px #dbcccf;
}

.wrapper-content-main__form-button {
  position: absolute;
  padding: 1.7rem 4.4rem;
  border-radius: 3rem;
  border: 0;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  right: 0;
  top: 0;
  cursor: pointer;
  -webkit-box-shadow: -5px 23px 12px 0px rgba(206, 151, 151, 0.15);
          box-shadow: -5px 23px 12px 0px rgba(206, 151, 151, 0.15);
  outline: none;
}

@media (max-width: 49em) {
  .wrapper-content-main__form-button {
    padding: 1.2rem 2.7rem;
  }
}

.wrapper-content-main__form-button span {
  position: absolute;
  font-size: 1px;
  opacity: 0;
}

.wrapper-content-main__form-button:focus, .wrapper-content-main__form-button:hover {
  -webkit-box-shadow: -5px 23px 12px 0px rgba(206, 151, 151, 0.15), inset 0px 0px 3px 2px #a79aa1;
          box-shadow: -5px 23px 12px 0px rgba(206, 151, 151, 0.15), inset 0px 0px 3px 2px #a79aa1;
}

.wrapper-content-main__form .error-icon {
  display: none;
  position: absolute;
  top: 50%;
  right: 120px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 49em) {
  .wrapper-content-main__form .error-icon {
    right: 80px;
  }
}

.wrapper-content-main__form .error-message {
  display: none;
  position: absolute;
  color: #f96262;
  padding-left: 3rem;
  margin-top: 1rem;
}

.wrapper-content-main__form.error .error-icon {
  display: inline;
}

.wrapper-content-main__form.error .error-message {
  display: block;
}

.wrapper-content-main__form.error .wrapper-content-main__form-input-email {
  border: 1px solid #f96262;
}

.wrapper-content-main .main-word {
  font-weight: 300;
  color: #ce9797;
}

.wrapper-poster {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background: url("/images/hero-desktop.jpg") no-repeat 50% 50%/cover;
}

@media (max-width: 49em) {
  .wrapper-poster {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */